name: "Portal das 6 Casas"
description: "Acesso simplificado para inquilinos"
version: "1.1.0"
slug: "portal_casas"  # Deve ser igual ao nome da pasta
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
ports:
  8099/tcp: 8099